<div style="font-family:Arial;">
	Zadej odkaz na furrafinity stránku s obrázkem...
	<div style="background-image:url({$basePath}/images/urlpreview.png);width: 436px;height: 20px;padding: 7px 31px;background-repeat: no-repeat;margin: 10px auto;">
		<span style="color:silver;">http://</span>www.furaffinity.net<span style="color:silver;">/view/5060129/</span>
	</div>
	<input type="text" name="url" id="urlFurrafinity" style="width: 97%;margin:8px;padding: 9px;border: 1px solid silver;" placeholder="http://"> 
</div>