{**
 * CMS page template
 *
 * @param Nette\Database\ActiveRow $cmsPage
 *}

{var $pageTitle = $cmsPage['Name']}

{block content}
	<h1>{$cmsPage['Name']}</h1>
	<div class="CmsPageContentWrapper">
		{!$cmsPage['Text']}
	</div>
{/block}
