#
# Furry.cz v2 config file.
#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:

	parameters:
		baseUrl: http://localhost/fcz-v2/www
		title: Furry.cz

		# baseDirectory (added in bootstrap.php)

		# Time interval since last activity to display user as "offline" (in minutes)
		offlineStatusTimeoutMinutes: 30

		discussionPaginatorComponent:
			edgeSpan: 3        # Num. links to display as numbers around first/last
			currentPageSpan: 3 # Num. links to display as numbers around current page
			maxLinks: 70       # Max links per page, if exceeded, paginator skips some links.

		fileUploads:
			types:
				genericFile: # Any file uploded in forum/cms/events/polls etc...
					directory: upload # Local to application root, enter without slashes

				userAvatar:
					isImage: true
					maxWidth: 200
					maxHeight: 200
					maxFilesize: 1000000
					
					# Local to application root
					# IMPORTANT! Currently this path is hardcoded in templates, don't change!
					directory: www/images/avatars 

				userProfilePhoto:
					isImage: true
					maxWidth: 200
					maxHeight: 200
					maxFilesize: 1000000
					
					# Local to application root
					# IMPORTANT! Currently this path is hardcoded in templates, don't change!
					directory: www/images/portraits

				expositionThumbnail:
					isImage: true
					maxWidth: 200
					maxHeight: 200
					maxFilesize: 1000000

			# Acceptable characters (security check): ASCII { A-Z a-z 0-9 _ }
			keyGeneratorDictionaries:
				d1: '_tHGl5Ayw7BjS6m3Y2faRFiW4DbN9vgoQXKLMOZV0ePnd1kqTIExUhJzCrcp8su' # Underscore is printed for illegal zero input
				d2: '6y1e8lWj4VmYqNsw0H2iOKArthvguSkCRcX7ZaGz3PnF5E9bxDUBfodpTQMLIJ'
				d3: 'v1pL3WyiHrZ8TPafRUA7mIe4kldCuXSb0x5cGsqtYJwDhOoE6VQjzBngNF92KM'
				d4: 'J2sHxhC984I1lyEXutmRcqvB57MrSnkDWipOg3eVLdNzPbQKUoYZ6aTwjF0AfG'
				d5: 'Wfc542ztemhqdCUkBylVuT7RE1gjOn6SXP93oQI8KsLGNprHFvbZwAaiM0YxDJ'
				d6: 'K9kdCa8EzrHQ6eGUlWoy2vhcqnSFsTD5L1YPV0gb3wmBixNZI7uJfXAOpR4Mjt'

			previews:
				cache:
					directory: temp/cache/image_previews

				# Presets which the FilesPresenter/thumbnail actions accepts. They'll appear in GET urls.
				# Acceptable characters (security check): ASCII lowercase { a-z 0-9 - }
				profiles:
					recent:
						maxWidth:    174       # Pixels
						maxHeight:   174       # Pixels
						jpegQuality: 85        # 0 (worst) - 100 (best)

					gallery:
						maxWidth:    164       # Pixels
						maxHeight:   170       # Pixels
						jpegQuality: 85        # 0 (worst) - 100 (best)

					expo:
						maxWidth:    100       # Pixels
						maxHeight:   80        # Pixels
						jpegQuality: 85        # 0 (worst) - 100 (best)

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		session:
			expiration: 14 days

		# user config.local.neon to override these defaults
		database:
			default:
				dsn: 'mysql:host=localhost;dbname=fcz-v2'
				user: user
				password: password
				reflection: discovered

	services:
		authenticator: Authenticator
		routerFactory: RouterFactory
		router: @routerFactory::createRouter
		database: @nette.database.default

	factories:

production < common:

development < common:
	nette:
		database:
			default:
				debugger: true
				explain: true

