{**
 * Homepage
 *
 * @param string  $homepageCmsHtml
 *}

{block title}
	Hlavní stránka - Furry.cz
{/block}

{block content}
	<h1>Furry.cz v2</h1>

	<div class="CmsPageContentWrapper">
		{!$homepageCmsHtml}
	</div>
{/block}


