{**
 * Homepage
 *
 * @param string  $homepageCmsHtml
 *}

{var $pageTitle = 'Hlavní stránka'}

{block content}
	<h1>Furry.cz v2</h1>

	<div class="CmsPageContentWrapper">
		{!$homepageCmsHtml}
	</div>
{/block}


