/****************************************************************************/
/*                       FCZv2 global stylesheet                            */
/*                       =======================                            */
/****************************************************************************/

/*
 * Background-brown: #2B2725
 * Lighter brown: #3C3732
 */

/****************************************************************************/
/*                             Global stuff                                 */
/****************************************************************************/

html { overflow-y: scroll; }

body { font: 14px/1.65 Verdana, "Geneva CE", lucida, sans-serif; background: #44404a; color: #f6edd3; margin: 10px auto; max-width: 940px; min-width: 770px; }

h1, h2 { font: normal 150%/1.3; color: #aaa46a; margin: 0; padding: 0 10px; }

img { border: none; }

a { color: #4a66ec; padding: 3px 1px; } /* Adjusted for dark background */

a:hover, a:active, a:focus { background-color: #006aeb; text-decoration: none; color: white; border-radius: 5px; }

a.Position:hover { background-color: transparent; }

.LightBackground a { color: #3a26dc; }

.LightBackground a:hover,
.LightBackground a:active,
.LightBackground a:focus { background-color: #006aeb; text-decoration: none; color: white; }

div.flash { color: black; background: #FFF9D7; border: 1px solid #E2C822; padding: 10px; margin: 10px 0; border-radius: 10px; } /* Nette framework's flash messages */

div.flash.error { background: #b0302e; border-color: #811311; }

div.flash.ok {}

form ul.errors { font-weight: bold; background: #b0302e; }

#ajax-spinner { margin: 15px 0 0 15px; padding: 13px; background: white url('../images/spinner.gif') no-repeat 50% 50%; font-size: 0; z-index: 123456; display: none; }

a[href^="error:"] { background: red; color: white; }

form tr, form td { vertical-align: top; font-weight: normal; }

form .required label { font-weight: bold; }

/*********************************/
/* DiscussionPaginator component */
/*********************************/

div.DiscussionPaginator { margin: 0; line-height: 25px; }

div.DiscussionPaginator a { padding: 2px 0; text-decoration: none; border-radius: 1px; display: inline-block; }

div.DiscussionPaginator a.Dot { position: relative; }

div.DiscussionPaginator a.Dot span { display: none; }

div.DiscussionPaginator a.Dot:hover span {position: absolute; display: block; top: -2px; background: #006aeb;
	padding: 0 3px; border-radius: 4px; line-height: 17px; text-align: center; min-width: 36px; left: -18px; }

div.DiscussionPaginator div.Nav a.Num,
div.DiscussionPaginator div.Nav span.CurrentPage,
div.DiscussionPaginator a.Arrow { margin: 0 1px; padding: 2px 1px; background-color: #264411; border-radius: 2px; color: #4095d9; }

div.DiscussionPaginator div.Nav span.CurrentPage { color: #f6edd3; display: inline-block; }

div.DiscussionPaginator a.Arrow { display: block; padding: 2px 4px; }

div.DiscussionPaginator a.Arrow span { color: #4095d9; } /* Complicated CSS color override */

div.DiscussionPaginator a.Arrow:hover span,
div.DiscussionPaginator div.Nav a.Num:hover { color: #fff; background-color: #006aeb; } /* Complicated CSS color override */

div.DiscussionPaginator a.Next { float: right; border-radius: 2px 10px 10px 2px; }

div.DiscussionPaginator a.Previous { float: left; border-radius: 10px 2px 2px 10px; }

div.DiscussionPaginator .Nav { text-align: center; padding: 0 90px; }

/*****************************/
/* DiscussionPosts component */
/*****************************/

div.DiscussionPosts div.Post,
div.DiscussionPosts div.NewPostForm { background-color: #3c3732; min-height: 70px; border-radius: 10px 10px 10px 0; margin: 0 0 10px; }

div.DiscussionPosts div.NewPostForm { min-height: 150px; padding-bottom: 5px; }

div.DiscussionPosts div.Post:last-child { margin: 0; }

div.DiscussionPosts span.HeaderBar { display: block; }

div.DiscussionPosts div.Post div.AvatarBox,
div.DiscussionPosts div.NewPostForm div.AvatarBox { background-color: #453f3a; height: 70px; width: 70px; float: left; margin: 0 5px 0 0;
	border-radius: 10px 0 0; position: relative; text-align: center; line-height: 69px; }

div.DiscussionPosts div.NewPostForm div.AvatarBox { margin:0; } /* Override */

div.DiscussionPosts div.NewPostForm div.AvatarBox .Clear { clear: both; }

div.DiscussionPosts div.Post div.AvatarBox img,
div.DiscussionPosts div.NewPostForm div.AvatarBox img { max-height: 70px; max-width: 70px; padding: 0; border-radius: 10px 0 0; vertical-align: middle; }

div.DiscussionPosts div.Post span.Time { color: #b6ad93; }

div.DiscussionPosts div.HiddenPosts { min-height: 25px; line-height: 25px; color: #b6ad93; }

div.DiscussionPosts div.HiddenPosts div.AvatarBox { height: 25px; }

#frmnewPostForm-text { border-radius: 0 10px 10px 0; margin: 0; float: right; min-width: 90%; max-width: 90%; min-height: 130px; margin: 5px 5px 5px 0; padding: 5px; border: 0; }

#frmnewPostForm-preview { margin: 0 0 0 75px; }

#frmnewPostForm-save { float: right; margin: 0 5px 0; }

/****************************************************************************/
/*                           @Layout template                               */
/****************************************************************************/

div#TopBanner { border: none; border-radius: 10px; background-color: #2b2725; margin: 0; line-height: 40px; }

div#TopBanner strong { padding: 0px 10px; font-size: 1.3em; display: block; }

div#UserBox { float: right; line-height: 40px; padding: 0 10px 0 0; position: relative; }

div#UserBox .ProfileLink { font-weight: bold; }

div#UserBox .ProfileLink img { height: 40px; position: absolute; left: -45px; }

nav { background-color: #63973d; color: #000; text-align: center; border-radius: 0 0 10px 10px; line-height: 30px; }

nav ul { margin:0; padding: 5px 0; }

nav ul li { display: inline-block; border-right: 2px solid black; padding: 0 10px; }

nav ul li:last-child { border: none; }

div.ContentWrapper { padding: 0; border: none; border-radius: 10px; margin: 10px 0 0 0; background-color: #2b2725; }

div.ContentWrapper h1 { padding: 5px 10px; background-color: #63973d; color: #2b2725; border-radius: 10px 10px 0 0; }

div.ContentWrapper .Header { background-color: #63973d; padding: 5px 10px; border-radius: 10px 10px 0 0; color: #000; }

div.ContentWrapper .Header h1 { padding: 0; }

div.ContentWrapper .Header a { color: #3a26dc; }

div.ContentWrapper .Header a:hover,
div.ContentWrapper .Header a:active,
div.ContentWrapper .Header a:focus { background-color: #006aeb; text-decoration: none; color: white; }

div.ContentWrapper .Header a.Position:hover { background-color: transparent; } /* Duplicate */

div.ContentWrapper .Body { padding: 10px; }

div.ContentWrapper .Footer { padding: 10px; background-color: #63973d; color: #2b2725; border-radius: 0 0 10px 10px; }

div.ContentWrapper form dl { margin: 0; }

div.ContentWrapper form dt { color: #b6ad93; float: none; }

div.ContentWrapper form input[type="text"] { width: 350px; }

div.ContentWrapper form textarea { width: 99%; }

div.ContentWrapper form dd.SlimTextarea textarea { height: 75px; }

div.ContentWrapper form input.Wide { width: 99%; }

form#frm-loginForm { float: right; padding: 0 10px 0 0; }

input#frmloginForm-Permanent { vertical-align: middle; }

input#frmloginForm-Username { width: 150px; margin: 0 5px 0 0; }

input#frmloginForm-Password { width: 150px; }

div.Clear { clear: both; }

/****************************************************************************/
/*                            User presenter                                */
/****************************************************************************/

/*************/
/* User list */
/*************/

div#UserListWrapper { margin: 0 5px; padding: 0 0 10px; }

div#UserList { margin: 5px 0 0 0.53%; }

div#UserList div.User { width: 32.8%; height: 70px; margin: 5px 0.53% 0 0; background-color: #3c3732; float: left; padding: 0; border-radius: 5px; }

div#UserList div.User img.Avatar { max-width: 100px; max-height: 70px; border: none; margin: 0 5px 0 0; float: left; border-radius: 5px 0 0 5px; }

/****************/
/* User profile */
/****************/

div#ProfileHeader { padding: 0 10px; background-color: #63973d; color: #2b2725; border-radius: 10px 10px 0 0; line-height: 50px; }

div#ProfileHeader img.Avatar { float: left; position: relative; top: 10px; margin: 0 10px 0 0; max-width: 200px; max-height: 200px; border-radius: 10px; }

div#ProfileHeader h1 { display: inline; background: transparent; margin: 0; padding: 0; }

div#ProfileHeader span.OtherNicknames { font-weight: bold; }

a#EditProfile { float: right; padding: 0 3px; line-height: 49px; margin: 3px 0 0; }

div#ProfileFurry { padding: 10px; }

div#ProfileFurry span.Species { font-size: 1.1em; }

div#ProfileFurry span.SpeciesLabel { color: #b6ad93; font-size: 1.1em; }

div#ProfileFurry span.Label { color: #b6ad93; }

div#ProfileCms { padding: 5px 10px 10px; }

div#ProfileReal { border-top: 2px solid #63973d; padding: 10px; }

div#ProfileReal img.Photo { float: left; margin: 0 10px 0 0; border-radius: 10px; }

div#ProfileReal dl { margin: 0; }

div#ProfileReal dt { color: #b6ad93; float: left; margin: 0 5px 0 0; }

div#ProfileReal ul.FavouriteWebsites li { display: inline; }

form#frm-editProfileForm dt { color: #b6ad93; float: none; }

form#frm-editProfileForm input[type="text"] { width: 350px; }

form#frm-editProfileForm textarea { width: 99%; }

form#frm-editProfileForm dd.SlimTextarea textarea { height: 75px; }

textarea#frmeditProfileForm-profileForMembers { height: 500px; }

textarea#frmeditProfileForm-favouriteWebsites { width: 400px; height: 300px; }

div#Footer { padding: 10px; background-color: #63973d; color: #2b2725; border-radius: 0 0 10px 10px; }

/****************************************************************************/
/*                            Cms presenter                                 */
/****************************************************************************/

/************/
/* Cms page */
/************/

div.CmsPageContentWrapper { padding: 5px 10px; }

/****************************************************************************/
/*                            Forum presenter                               */
/****************************************************************************/

/*********/
/* Index */
/*********/

div#ForumListingHeader { background-color: #63973d; padding: 5px 10px; border-radius: 10px 10px 0 0; color: #000; }

div#ForumToolsPanel { padding: 5px 0 0; display: none; }

table#ForumListing { width: 100% }

table#ForumListing td.Category { font-size: 0.8em; color: #b6ad93; text-align: center; }

th#ForumListingCategory { width: 10%; }

/*********/
/* Topic */
/*********/

div#TopicHeaderPanel h1 { display: inline; }

div#TopicHeaderPanel span.TitleInfo { font-weight: bold; font-size: 1.2em; color: #2b2725; }

div#TopicHeaderPanel { padding-bottom: 10px; }

div#TopicHeader { border-radius: 10px; background-color: #264411; padding: 10px; color: #f6edd3; }

div#TopicHeader .Light { background-color: #325f10; }

div#TopicHeader img { border-radius: 5px; }

div#TopicHeader.ForMembers { margin-bottom: 0px; }

a#discussion.Topic { margin:0; padding:0; display:block; height:10px; } /* URL landing anchor */

/****************************************************************************/
/*                               Ignorelist                                 */
/****************************************************************************/

div#Content-Ignorelist-edit { padding: 0 0 10px 0; }

div#Content-Ignorelist-edit h1 { margin: 0 0 10px 0; }

div#Content-Ignorelist-edit img.Avatar { max-height: 35px; vertical-align: middle; margin: 0 10px 0 10px; }

/****************************************************************************/
/*                                 Gallery                                  */
/****************************************************************************/

/* Default */

#GalleryAuthorList { display: block; float: right; border-left: 3px solid #3C3732; padding: 0 10px; }

#GalleryAuthorList li { list-style: none }

#GalleryLatestPosts { padding: 10px; }

#Content-Gallery-default .BottomClear { clear: both; }

/* User */

#Content-Gallery-user div.Header { padding: 0 10px; background-color: #63973d; color: #2b2725; border-radius: 10px 10px 0 0; line-height: 50px; }

#Content-Gallery-user div.Header img.Avatar { float: left; position: relative; top: 10px; margin: 0 10px 0 0; max-width: 200px; max-height: 200px; border-radius: 10px; }
#Content-Gallery-user div.Header h1 { display: inline; background: transparent; margin: 0; padding: 0; }

#MyGallery { float: right; padding: 0 10px 0 10px; }

#MyGalleryTools a { float: right; padding: 0 3px; line-height: 49px; margin: 3px 0 0; display: block; }

#Content-Gallery-exposition div.Header { padding: 0; background-color: #63973d; color: #2b2725; border-radius: 10px 10px 0 0; line-height: 50px; }

#Content-Gallery-exposition div.Header h1 { float: left; display: inline; }

#Content-Gallery-exposition div.Header img.Avatar { float: left; margin: 0 10px 0 0; max-width: 50px; max-height: 50px; border-radius: 10px 0 0; }

#MyExpoTools { float: right; margin: 0 10px 0 0; }

#MyExpoTools a { padding: 0 5px; line-height: 40px; margin: 5px 0 0; display: block; float: right; }


    /* calendar */
	h1 .pu {position: absolute;background: #568136;text-decoration: none;border-radius: 5px;top:2px;}
	h1 .pu:hover {background:#77D333;}
	
    table.calendar { border-left:1px solid #63973D;margin:0px auto;margin-top:10px;}
    tr.calendar-row { -background-color:#63973D; }
    td.calendar-day { min-height:80px; font-size:11px; position:relative;position:relative; } * html div.calendar-day { height:80px; }
    td.calendar-day-np { background:#444343; min-height:80px; } * html div.calendar-day-np { height:80px; }
    td.calendar-day-head { font-weight:bold; text-align:center; width:120px; padding:5px; border:1px solid #63973D;border-left:0px; }
    div.day-number { background:#63973D; padding:5px; color:#fff; font-weight:bold; float:right; margin:-5px -5px 0 0; width:20px; text-align:center;border-bottom-left-radius: 6px;position:absolute;top:5px;right:5px; }
	div.day-number.actual {background:#008FFF;}
	div.day-number.svatek {background:#D36E00;}
    /* shared */
    td.calendar-day, td.calendar-day-np { width:120px; padding:5px; border-bottom:1px solid #63973D; border-right:1px solid #63973D; }
